{{ $heroImage := "" }}
{{ if eq .Type "posts" }}
  {{/* $heroImage = add "/" .Params.thumbnail */}}
  {{ $heroImage = printf "/%s" .Params.thumbnail }}
{{/* else if eq .Type "article" */}}
{{ else }}
  {{ $heroImage = "/images/default-thumbnail.webp" }}
{{ end }}

    <div class="sp-header__bg"></div>
    <div class="site-title">
      <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    </div>
    <header class="site-header hero" style="background-image: url('{{ $heroImage }}');">
      <div class="site-header__info">
	<!-- search機能は諦めた -->
	{{/* partial "searchform.html" . */}}

	<!-- SP用コンポーネント -->
	<div class="sp-toggles__container">
	  <!-- SP用見出しリンクリスト -->
	  <!-- 記事個別画面の時しか使わない -->
	  {{ if eq .Type "posts" }}
	  {{ partial "mobile-toc-dropdown.html" . }}
	  {{ end }}
	  <!-- SP用メニュー -->
	  {{ partial "mobile-nav.html" . }}
	</div><!-- End SP用コンポーネント  -->
      </div>

      <div class="site-header__main">
	<div class="hero-content">
	  <h1 class="site-header__title">{{ .Page.Title }}</h1>
	  {{ if eq .Type "posts" }}
	  <div class="">
	    <span class=""><i class="fas fa-calendar-alt"></i>&nbsp;{{ .Date.Format "2006.01.02" }}</span>
	    <i class="fas fa-folder"></i>
	    {{ range $index, $category := .Params.categories }}
	    <a href="/categories/{{ $category | urlize }}">{{ $category }}</a>
	    {{ if not (eq (sub (len $.Params.categories) 1) $index) }} {{ end }}
	    {{ end }}
	  </div>
	  {{ end }}
	</div>
	<!-- kokoni nav -->
      </div>
    </header>
    <nav class="site-header__nav">
      <ul>
	<li><a href="{{ .Site.BaseURL }}">Home</a></li>
	<li><a href="/archives/">Archives</a></li>
	<li><a href="/categories/">Categoris</a></li>
	<li><a href="/tags/">Tags</a></li>
	<li><a href="/about/">About</a></li>
	  </ul>
    </nav>
