	  <!-- SP用メニュー -->
	  <input type="checkbox" id="sp-toggles__menu-toggle" class="sp-toggles--hidden">
	  <label for="sp-toggles__menu-toggle" class="sp-toggles__menu-button">MENU</label>
	  <div class="sp-toggles__menu">
	    <div></div>
	    <ul>
	    <li><a href="{{ .Site.BaseURL }}">Home</a></li>
	    <li><a href="/archives/">Archives</a></li>
	    <li><a href="/categories/">Categoris</a></li>
	    <li><a href="/tags/">Tags</a></li>
	    <li><a href="/about/">About</a></li>
	    </ul>
	    <div class="sp-toggles__container">
	      <label for="sp-toggles__menu-toggle" class="sp-toggles__menu-button">CLOSE</label>
	    </div>
	  </div>
