{{ define "main" }}
{{ $top10 := first 10 .Site.RegularPages.ByDate.Reverse }}

    <main class="main">
      <div class="main__contents">

	<div class="articles__list">

	  {{ $latest := first 1 $top10 }}
	  {{ range $latest }}
	  <div class="card-large">
	    <div class="card__thumbnail">
	      <a href="{{ .Permalink }}">
		<img src="{{ .Params.thumbnail | default "/images/default-thumbnail.webp" }}" alt="{{ .Title }}">
	      </a>
	    </div>

	    <div class="card__content">
	      <div class="card__meta">
		<span class="card__meta__date">{{ .Date.Format "2006.01.02" }}</span>
		{{ range .Params.categories }}
		<a href="/categories/{{ . | urlize }}" class="card__meta__category">{{ . }}</a>{{ if not (eq . $.Params.categories.Last) }} {{ end }}
		{{ end }}
	      </div>
	      <h2 class="card__title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
	      <div class="card__excerpt">
		{{ .Summary }}
	      </div>
	      <p><a href="{{ .RelPermalink }}">[Read More…]</a></p>
	    </div>
	  </div>
	  {{ end }}

	  {{ $rest := after 1 $top10 }}
	  {{ range $rest }}
	  <div class="card">
	    <div class="card__thumbnail">
	      <a href="{{ .Permalink }}">
		<img src="{{ .Params.thumbnail | default "/images/default-thumbnail.webp" }}" alt="{{ .Title }}">
	      </a>
	    </div>

	    <div class="card__content">
	      <div class="card__meta">
		<span class="card__meta__date">{{ .Date.Format "2006.01.02" }}</span>
		{{ range .Params.categories }}
		<a href="/categories/{{ . | urlize }}" class="card__meta__category">{{ . }}</a>{{ if not (eq . $.Params.categories.Last) }} {{ end }}
		{{ end }}
	      </div>
	      <h2 class="card__title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
	      <div class="card__excerpt">
		{{ .Summary }}
	      </div>
	      <p><a href="{{ .RelPermalink }}">[Read More…]</a></p>
	    </div>
	  </div>
	  {{ end }}

	</div>

      </div>

      {{ partial "side-taxonomies.html" . }}

    </main>
    {{ end }}
